<section class='section'>
  <div class='container box'>

    <h1 class='title is-1'>Personal Information</h1>
    
    <div class='container box'>
      <span class='title is-3'>Profile Picture</span>
      <%= render 'profile_pic_upload' %>
    </div>

    <%= render 'list_information' %>

    <%= link_to 'Edit profile', edit_user_detail_path(current_user), class: 'button' %>
  </div>
</section>
