<% list.each do |user| %>
  <% next if current_user == user %>
  <div class='container box'>
    <div class='columns is-vcentered is-mobile' id='pbox'>
      <div class='column'>
        PROFILE PICTURE
        <%= user.username %><br>
      </div>

      <div class='column is-narrow'>
        <%= render 'buttons', user: user %>
      </div>
    </div>
  </div>
<% end %>
