<div class='block'>
  <%= form_with url: users_path, method: :get do |f| %>
    <div class='column control is-3 p-0'>
      <%= f.text_field :query, placeholder: 'Search for friend', class: 'input'%>
    </div>
  <% end %>
</div>
