<%# Create a post section %>
<%= render 'shared/posts/create_post', post: @post %>

<section class='section'>
  <div class='container mb-3'>
    <h2 class='title is-4'>Your Timeline</h1>
  </div>

  <%= render 'shared/posts/list_posts', posts: @posts %>
</section>
