<%= f.fields_for :age do |age_f| %>
  <div class='field'>
    <%= age_f.label :dob, 'Age' %>

    <div class='control'>
      <%= age_f.date_field :dob, class: 'input' %>
    </div>
  </div>
<% end %>
