<div class='column is-1'>
  <div class='dropdown is-hoverable is-right'>
    <div class='dropdown-trigger'>
      <button class='button is-inverted'>
        <span class='icon is-small'><%= icon('fas', 'ellipsis-v') %></span>
      </button>
    </div>

    <div class='dropdown-menu'>
      <div class='dropdown-content'>
        <div class='dropdown-item'>
          <%= link_to 'Delete post', post_path(post), method: :delete, class: 'button is-danger is-inverted' %>
        </div>
      </div>
    </div>
  </div>
</div>
